<div class="container">
	<h4 class="title"><%= @category.title %></h4>
	<div class="lessonBox">
		<center>
		<h5><%= @word.content %></h5>

		<% @word.word_answers.each do |word_answer| %>
			<%= button_to word_answer.content,lesson_lesson_words_path(@lesson), params: {word_id: @word.id,word_answer_id: word_answer.id} %>
		<% end %>
		</center>
	</div>
</div>