<div class="container">
	<div class="row justify-content-end">
    	<div class="col-6">
    		<center>
    			<% if current_user %>
    				<h4><span class="blinking">＼START LESSON／</span></h4>
					<%= link_to "START LESSON", categories_path, class: 'cp_btn' %>
    			<% else %>
					<h3>WELCOME  TO  ELEARNING</h3>
					<p><span class="blinking">＼PLEASE PUSH LOGIN／</span></p>
					<br>

					<%= link_to "LOGIN", login_path, class: "btn btn-primary po" %>
						
					<br><br><br>
					<%= link_to "SIGNUP", signup_path, class: "btn btn-success po" %>
				<% end %>
			</center>
   		</div>
    	<div class="col-6">
     		<center><h4>E-learning</h4></center>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium repellendus natus officia unde doloremque veniam assumenda ea autem reprehenerit tempore asperiores minima fugit, fugiat, dolore rem deleniti aut laboriosam tenetur?</p>
				<br>
				<center><p>◉</p></center>
				<br>
				<p>Ullam quod impedit accusantium quas enim dignissimos mollitia ut, tenetur porro, aspernatur in laboriosam sit maxime omnis, culpa eius harum saepe voluptas!</p>
				<br>
				<center><p>◉</p></center>
				<br>
				<p>Beatae neque fugiat, excepturi, ducimus, odio sapiente nobis illum dicta harum consequatur facilis minus illo odit. Fuga harum commodi blanditiis ullam saepe.</p>
		</div>
    </div>
</div>
 <footer class="footer">
                <center><p>©All rights reserved.</p></center>
 </footer>