<div  class="container">
	<div class="navbar navbar-default">
		<div class="navbar-header">
			<ul>
				<li class="li"><a href="#">HOME</a></li>
				<li class="li"><a href="#">ELearning</a></li>
				<li class="li"><a href="#">INFORMATION</a></li>
			</ul>
		</div>
	</div>

	<div class="box">
		<center>
			<h3>WELCOME  TO  ELEANING</h3>
			<p><span class="blinking">＼PLEASE PUSH LOGIN／</span></p>

			<br>

			<input type="submit" name="login" value="LOGIN" class="btn btn-primary">
			<br><br><br>
			<input type="submit" name="signup" value="SIGNUP" class="btn btn-success">
		</center>
	</div>

	<div class="box">
		 <h4>E-learning</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium repellendus natus officia unde doloremque veniam assumenda ea autem reprehenderit tempore asperiores minima fugit, fugiat, dolore rem deleniti aut laboriosam tenetur?</p>
			<br>
			<p>◉</p>
			<br>
			<p>Ullam quod impedit accusantium quas enim dignissimos mollitia ut, tenetur porro, aspernatur in laboriosam sit maxime omnis, culpa eius harum saepe voluptas!</p>
			<br>
			<p>◉</p>
			<br>
			<p>Beatae neque fugiat, excepturi, ducimus, odio sapiente nobis illum dicta harum consequatur facilis minus illo odit. Fuga harum commodi blanditiis ullam saepe.</p>
		</div>


		<div class="clear"></div>

		<br><br><br><br>

		<div class="footer">
			<center>
				<p>©All rights reserved.</p>
			</center>
		</div>


</div>