<div class="box">
	<center>
		<h3>WELCOME  TO  ELEANING</h3>
		<p><span class="blinking">＼PLEASE PUSH LOGIN／</span></p>
		<br>

		<%= link_to "LOGIN", signup_path, class: "btn btn-primary po" %>
			
		<br><br><br>
		<%= link_to "SIGNUP", signup_path, class: "btn btn-success po" %>

	</center>
</div>

<div class="box">
	 <h4>E-learning</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium repellendus natus officia unde doloremque veniam assumenda ea autem reprehenerit tempore asperiores minima fugit, fugiat, dolore rem deleniti aut laboriosam tenetur?</p>
		<br>
		<p>◉</p>
		<br>
		<p>Ullam quod impedit accusantium quas enim dignissimos mollitia ut, tenetur porro, aspernatur in laboriosam sit maxime omnis, culpa eius harum saepe voluptas!</p>
		<br>
		<p>◉</p>
		<br>
		<p>Beatae neque fugiat, excepturi, ducimus, odio sapiente nobis illum dicta harum consequatur facilis minus illo odit. Fuga harum commodi blanditiis ullam saepe.</p>
</div>


<div class="clear"></div>

<br><br><br><br>

<div class="footer">
	<center>
		<p>©All rights reserved.</p>
	</center>
</div>


</div>