@import "bootstrap";
.navbar{
	background-color: lightblue;
}



.li{
	display: inline-block;
	margin-top: 10px;
	margin-left: 60px;
	color: white;
}

.col-6 {
	margin-top: 10%;
	padding: 5% 5%;
	margin-bottom: 10%;
}

.blinking{
    -webkit-animation:blink 1s ease-in-out infinite alternate;
    -moz-animation:blink 1s ease-in-out infinite alternate;
    animation:blink 1s ease-in-out infinite alternate;
}

@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

.po {
		width: 80%;
		padding: 50px 30px;
		font-size: 30pt;
}


.bo{
	height: 50px;
}

.logout {
	color: white;
}

.logout:hover {
	color: gray
}

.footer{
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	background-color: gray;
}

.setting {
	width: 30%;
	margin-top: 50px;
	margin-left: 35%;
}

.card {
	margin-top: 50px;
}

.card-header {
	background-color: lightblue;
}

.info {
	color: white;
}

.card-body {
	padding-top: 40px;
	padding-bottom: 50px;
}

.userImage {
	margin-bottom: 15px;
}