@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar{
	background-color: #59bfe0;
	height: 60px;
}


.li{
	margin-left: 60px;
	color: white;
}

.col-6 {
	margin-top: 10%;
	padding: 5% 5%;
	margin-bottom: 10%;
}

.blinking{
    -webkit-animation:blink 1s ease-in-out infinite alternate;
    -moz-animation:blink 1s ease-in-out infinite alternate;
    animation:blink 1s ease-in-out infinite alternate;
}

@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

.bigBox {
	width: 50%;
	margin-left: 25%;
	padding-top: 50px;
}

.po {
		width: 80%;
		padding: 50px 30px;
		font-size: 30pt;
}


.bo{
	height: 50px;
	margin-top: 50px;
}

.logout {
	color: white;
}

.logout:hover {
	color: gray;
	text-decoration: none;
}

footer {
	background-color: lightgray;
	position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.fixed-bottom {
	padding-top: 10px;
}

.setting {
	width: 30%;
	margin-top: 50px;
	margin-left: 35%;
}

.userInfo {
	margin-top: 50px;
	margin-bottom: 50px;
}

.card-header {
	background-color: #59bfe0;
}

.info {
	color: white;
}

.card-body {
	padding-top: 40px;
	padding-bottom: 50px;
}

.userImage {
	margin-bottom: 15px;
}


.box {
	background-color: #eee;
	margin: 15px 0px;
	width: 50%;
}

.name {
	padding-top: 5%;
}

.followButton {
	padding-top: 5%;
}

.follow {
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #67c5ff;
	border: 2px solid #67c5ff;
	border-radius: 3px;
	transition: .4s;
}

.follow:hover {
	text-decoration: none;
	background: #67c5ff;
	color: white;
}

.list {
	margin-top: 50px;
}

.notice {
	margin-top: 5%;
	width: 50%;
}

.edit {
	padding: 0.3em 1em;
	text-decoration: none;
	color: #83cbff ;
	border: 2px solid #83cbff;
	border-radius: 3px;
	transition: .4s;
}

.remove {
	padding: 0.3em 1em;
	text-decoration: none;
	color: lightgray;
	border: 2px solid lightgray;
	border-radius: 3px;
	transition: .4s;
}

.edit:hover {
	text-decoration: none;
	color: #83cbff;
}

.remove:hover {
	text-decoration: none;
	color: lightgray;
}

.addCategory {
	text-decoration: none;
	color: white;
}

.addCategory:hover {
	text-decoration: none;
	color: lightgray;
}

.cateTitle {
	margin-top: 30px;
}

.cateDesc {
	margin-bottom: 30px;
}

.choice {
	margin-top: 5px;
}

.correct {
	margin-bottom: 10px;
}

.cateBox {
	margin-top: 50px;
}

.cateDisplay {
	margin-top: 40px;
	background-color: #eee;
}
.col-sm-12 {
	height: 150px;
}

.detail_category {
	padding-top: 20px;
}

.letter {
	color: gray;
}

.text-right {
	margin-top: 5px;
}

.btn1 {
	background-color: #59bfe0;
	color: white;
	width: 40%;
}

.lessonBox {
	background-color: #eee;
	margin: 15px 25%;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 50%;
}

.title {
	margin: 30px 25%
}

.btn2 {
	width: 60%;
	margin-top: 10px; 
}

.box2 {
	width: 50%;
	margin: 30px 25%;
}

.row2 {
	margin-top: 10px;
}

.unfollow {
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: lightgray;
	border: 2px solid lightgray;
	border-radius: 3px;
	transition: .4s
}

.unfollow:hover {
	text-decoration: none;
	background: lightgray;
	color: white;
}

.button {
	margin-top:20px;
}

.float-left {
	margin-right: 50px;
}

.col-12 {
	.card{
	margin-top: 0px;
 }
}

.follower {
	margin-top: 50px;
}

.followTable {
	margin-top: 20px;
}

.back {
	color: lightgray;
}

.backLink {
	margin-top: 30px;
}
.stats {
  overflow: auto;
  margin-top: 5px;
  margin-left: 8%;
  padding: 0;
  a {
    float: left;
    padding: 0 5px;
    border-left: 1px solid lightgray;
    color: lightgray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: gray;
    }
  }
  strong {
    display: block;
  }
}

.square_btn {
	display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: double 4px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    margin-top: 20px;
    margin-left: 5%;
}

.square_btn:hover {
    background: white;
    text-decoration: none;
}

.update {
	display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: dashed 1px #67c5ff;
    background: #f2fcff;
    border-radius: 3px;
    transition: .4s;
}

.update:hover {
    background: #cbedff;
    color: #FFF;
}

.activityRow {
	margin-top: 20px;
	margin-left: 20px;
}

.nameAct {
	margin-left: 10px;
}

.btn3 {
	background-color: lightgray;
	color: white;
	width: 30%;
}

.btn3:hover {
	color: gray;
}

.timestamp {
	color: gray;
	font-size: 8pt;
	margin-left: 10px;
}

.bodyStats{
	padding-top: 10px;
	padding-bottom: 3px;
}

a.cp_btn {
	margin-top: 10%;
	position: relative;
	display: block;
	width: 300px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	background: #26C6DA;
	border-bottom: 2px solid #00838F;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
	}
	a.cp_btn:active {
	border-bottom: 2px solid #26C6DA;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}